Channel Id,Channel Url,Channel Title
UCBJycsmduvYEL83R_U4JriQ,http://www.youtube.com/channel/UCBJycsmduvYEL83R_U4JriQ,Marques Brownlee
UCXZCJLdBC09xxGZ6gcdrc6A,http://www.youtube.com/channel/UCXZCJLdBC09xxGZ6gcdrc6A,OpenAI
UCcefcZRL2oaA_uBNeo5UOWg,http://www.youtube.com/channel/UCcefcZRL2oaA_uBNeo5UOWg,Y Combinator
